@model Client.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokopediaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokopediaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopeeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopeeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LazadaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LazadaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
